<html>
<head>
    <title>Disease Probability Plot</title>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\navbar.css">
    <style>
        body {
    background: url('static/images/dan-otis-OYFHT4X5isg-unsplash.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

    </style>

</head>
<body>
     <!-- Navigation Bar -->
   <nav class="navbar">
    <div class="logo">Botanical Eye</div>
    <ul class="nav-links">
        <li><a href="http://localhost:8080/home/home.html">Home</a></li>
        <li><a href="http://127.0.0.1:5000/">Prediction</a></li>
        <li><a href="http://127.0.0.1:5000/disease-prediction">Plot Graph</a></li>
        <li><a href="http://localhost:8080/fetch_plant_details/search_disease.html">Plant Info</a></li>
        <li><a href="http://localhost:8080/medicine_store/">Plant Medicine Store</a></li>
        <li><a href="http://localhost:8080/login_signup_page/index.html" class="logout-btn">Logout</a></li>
    </ul>
</nav>
    <h1>Select a Disease to View Probability</h1>
    <form action="/disease-prediction" method="post">
        <label>Select Disease:</label>
        <select name="disease_name">
            {% for disease in diseases %}
                <option value="{{ disease }}">{{ disease }}</option>
            {% endfor %}
        </select>
        <button type="submit">Generate Plot</button>
        <a href="/">Back to Home</a>
    </form>
    
</body>
</html>